.tile {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;         
    display: flex;          
    flex-direction: column; 
    position: relative;

}

.tile-badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}

.tile-stats{
    display: flex;
    align-items: center;

}

.tile-image{
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;

}
.tile-star{
    height: 12px;
}

.tile-count{
    color: grey;
}

.tile-location{
    color: grey;
}

.tile-info{
    overflow: hidden;
    text-overflow: ellipsis;
}

.bold {
    font-weight: 800;
}